.about {
    color: brown;
}
span {
    color: red;
}
div.about-song {
    color: rgb(146, 163, 163);
}
.about-song p {
    color: blueviolet;
}
.tracklist > li {
    color: rgb(24, 189, 189);
}
.title ~ h2 {
    color: blue;
}
